<html>
  <head>
    <title>Mechi V3</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript>
      $(function() {
        $("#green").click(function (event) { $.getJSON('/switchlight', { }, function(data) { }); return false; });

        $("#up").mousedown(function (event) { $.getJSON('/press/0', { }, function(data) { }); return false; });
        $("#up").mouseup(function (event) { $.getJSON('/release/0', { }, function(data) { }); return false; });

        $("#left").mousedown(function (event) { $.getJSON('/press/1', { }, function(data) { }); return false; });
        $("#left").mouseup(function (event) { $.getJSON('/release/1', { }, function(data) { }); return false; });

        $("#right").mousedown(function (event) { $.getJSON('/press/2', { }, function(data) { }); return false; });
        $("#right").mouseup(function (event) { $.getJSON('/release/2', { }, function(data) { }); return false; });

        $("#down").mousedown(function (event) { $.getJSON('/press/3', { }, function(data) { }); return false; });
        $("#down").mouseup(function (event) { $.getJSON('/release/3', { }, function(data) { }); return false; });
      });
    </script> 
  </head>
  <body>
    <img src="{{ url_for('video_feed') }}" width="100%">
    <hr>
    <div class="flex-container">
      <div id="up" style="background-image: url('../assets/up.png'); background-size: contain;"></div>
    </div>
    <div class="flex-container">
      <div id="left" style="background-image: url('../assets/left.png'); background-size: contain;"></div>
      <div></div>
      <div id="right" style="background-image: url('../assets/right.png'); background-size: contain;"></div>
    </div>
    <div class="flex-container">
      <div id="down" style="background-image: url('../assets/down.png'); background-size: contain;"></div>
    </div>
    <button id="green">Groen</button>
  </body>
</html>